* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  /* position: absolute; */
}
.wrap {
  display: grid;
  grid-template-areas:
    "a a"
    "c d";
  margin: auto;
  width: 90%;
  padding-top: 30px;
}
.boxa {
  background: hsl(193, 100%, 96%) url("/images/bg-hero-desktop.svg");
  margin-bottom: 100px;
}
#huddle1 {
  width: 10em;
}

#mockups {
  /* padding: 100px; */
  width: 600px;
  height: 450px;
}
.boxa1 {
  grid-area: a;
  padding-bottom: 30px;
}
.boxa1 {
  display: flex;
  flex-wrap: wrap;
}
.boxa11 {
  width: 30%;
}
.boxa12 {
  text-align: right;
  width: 70%;
}
.boxa12 button {
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  color: hsl(192, 100%, 9%);
  font-size: 13x;
  background-color: hsl(0, 0%, 97%);
  padding: 10px 40px;
  border-radius: 50px;
  border: none;
  box-shadow: 1px 1px 2px hsla(0, 0%, 11%, 0.521);
  cursor: pointer;
}
h2 h3 {
  font-family: "Poppins", sans-serif;
}
.boxa3 h2 {
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  line-height: 60px;
}
.boxa3 {
  grid-area: c;
  padding-bottom: 60px;
  padding-right: 90px;
  vertical-align: middle;
  padding-top: 65px;
  color: hsl(192, 100%, 9%);
}

.boxa4 {
  grid-area: d;
  padding-bottom: 60px;
  padding-top: 30px;
}
.boxa3 p,
.boxb1 p,
.boxc2 p,
.boxd1 p {
  font-size: 20px;
  line-height: 30px;
}
.boxa3 button,
.boxe button {
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  color: hsl(193, 100%, 96%);
  font-size: 15px;
  background-color: hsl(322, 100%, 66%);
  padding: 15px;
  border-radius: 50px;
  border: none;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 1px 1px 2px hsla(0, 0%, 11%, 0.521);
  cursor: pointer;
}

.boxb,
.boxc,
.boxd {
  display: flex;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 1px -1px 10px hsla(0, 0%, 11%, 0.521);
  margin-bottom: 30px;
}
.boxb1,
.boxc2,
.boxd1 {
  padding: 100px;
}

#growtogether {
  width: 300px;
  padding: 50px;
}
.boxd {
  margin-bottom: 100px;
}
.boxe h3 {
  padding-bottom: 20px;
}
.boxe {
  width: 40%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 1px -1px 10px hsla(0, 0%, 11%, 0.521);
  text-align: center;
  padding-top: 37px;
  padding-bottom: 30px;
  position: relative;
  /* position: absolute; */
  /* top: 10px;*/
  /* right: 1px; */
  /* left: auto; */
  /* bottom: 5px; */
  /* margin-top: 20px; */
}
footer {
  background-color: hsl(192, 100%, 9%);
  color: hsl(0, 0%, 100%);
  position: relative;
}
.footM {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  padding-top: 180px;
  /* padding-bottom: 80px; */
}
.foot2 {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
}
.foot2a {
  width: 20%;
}
.foot2b {
  width: 80%;
  padding-left: 70px;
  padding: 20px;
}
.foot3 {
  padding-left: 15px;
  width: 33%;
}
.foot5 {
  width: 15%;
}
#imga {
  padding-top: 28px;
  padding-bottom: 75px;
}
#imgb,
#imgc {
  padding-bottom: 20px;
}
#imgd,
#imge,
#imgf {
  width: 30px;
  padding: 5px;
}
.p1 {
  padding-bottom: 30px;
  padding-right: 110px;
  line-height: 25px;
  /* margin: opx 50px; */
}
.p2 {
  padding-bottom: 20px;
}
footer a {
  color: hsl(0, 0%, 100%);
}
.aref {
  padding-bottom: 30px;
}
.foot3 p,
.foot4 p {
  padding-bottom: 20px;
}
.lastdiv {
  padding-bottom: 60px;
  text-align: right;
  margin-right: 50px;
}
a {
  text-decoration: none;
}

@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 375px) {
  body {
    margin: 0;
    padding-right: 0;
    /* box-sizing: border-box; */
  }
  .boxa {
    background: hsl(193, 100%, 96%) url("/images/bg-hero-desktop.svg");
    margin-bottom: 50px;
    width: 100%;
  }
  .wrap {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    padding-top: 30px;
  }
  #huddle1 {
    width: 8em;
    margin-left: 15px;
  }
  #mockups {
    width: 300px;
    height: 210px;
  }
  h2,
  h3 {
    font-family: "Poppins", sans-serif;
    text-align: center;
  }
  h2 {
    font-size: 50%;
  }
  .boxa3 h2 {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
  }
  .boxa3 p,
  .boxb1 p,
  .boxc2 p,
  .boxd1 p {
    font-size: 16px;
    line-height: 30px;
  }
  .boxa3 {
    text-align: center;
  }
  .boxa12 button {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: hsl(192, 100%, 9%);
    font-size: 10x;
    background-color: hsl(0, 0%, 97%);
    padding: 5px 20px;
    border-radius: 50px;
    border: none;
    box-shadow: 1px 1px 2px hsla(0, 0%, 11%, 0.521);
    cursor: pointer;
    margin-right: 20px;
  }
  .boxa3 button,
  .boxe button {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: hsl(193, 100%, 96%);
    font-size: 10px;
    background-color: hsl(322, 100%, 66%);
    padding: 10px 40px;
    border-radius: 50px;
    border: none;
    box-shadow: 1px 1px 2px hsla(0, 0%, 11%, 0.521);
    cursor: pointer;
  }
  .boxb,
  .boxd {
    display: flex;
    flex-direction: column-reverse;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 1px -1px 10px hsla(0, 0%, 11%, 0.521);
    margin-bottom: 30px;
  }
  .boxc {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 1px -1px 10px hsla(0, 0%, 11%, 0.521);
    margin-bottom: 30px;
  }
  #growtogether {
    width: 350px;
  }
  .boxd {
    margin-bottom: 100px;
  }
  .boxe {
    width: 90%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 1px -1px 10px hsla(0, 0%, 11%, 0.521);
    margin-bottom: 30px;
    text-align: center;
    padding-top: 37px;
    padding-bottom: 30px;
  }
  footer {
    background-color: hsl(192, 100%, 9%);
    color: hsl(0, 0%, 100%);
  }
  .footM {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 150px;
  }
  .foot1 {
    width: 100%;
  }
  .foot2 {
    display: flex;
    flex-direction: row;
  }
  .foot2a {
    width: 20%;
  }
  .foot2b {
    width: 80%;
    padding-left: 20px;
  }
  .foot3 {
    width: 100%;
  }
  .foot3 p,
  .foot4 p {
    padding-bottom: 20px;
  }
  .foot4 {
    width: 100%;
  }
  .foot5 {
    text-align: center;
  }
  .p1 {
    padding-bottom: 20px;
    line-height: 25px;
    /* margin: opx 50px; */
  }
  .p2 {
    padding-bottom: 20px;
    line-height: 25px;
    /* margin: opx 50px; */
  }
  #imga {
    padding-bottom: 100px;
  }
  #imgb,
  #imgc {
    padding-bottom: 25px;
  }
  .aref {
    padding-bottom: 30px;
  }
  .lastdiv {
    padding-bottom: 60px;
    text-align: center;
  }
  .imgd,
  .imge,
  .imgf {
    width: 10px;
    /* padding: 30px; */
    /* padding-bottom: 70px; */
  }
}
